.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

/* Flex */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Justify Content */
.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* Align Items */
.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.align-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* Align Content */
.align-content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.align-content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.align-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.align-content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.align-content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

/* Flex Wrap */
.flex-wrap-yes {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-wrap-no {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

/* Flex Direction */
.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-direction-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-direction-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* Align Self */
.align-self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.align-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.align-self-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.align-self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.align-self-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

/* Flex basis */
.flex-100 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.flex-80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
}

.flex-75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
}

.flex-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.flex-69 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 69%;
          flex: 0 1 69%;
}

.flex-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.flex-59 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 59%;
          flex: 0 1 59%;
}

.flex-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.flex-49 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.flex-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.flex-33 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}

.flex-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.flex-25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.flex-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.flex-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
}

.flex-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: absolute;
  width: 100%;
  padding-top: 1rem;
}

header strong {
  font-size: 1.5rem;
}

header li {
  margin-left: 1rem;
  font-size: .9rem;
}

header a {
  text-decoration: none;
  color: gray;
}

.parent-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.img-width {
  width: 100%;
}

.item-1 {
  grid-column: span 2;
}

.item-2 {
  display: -ms-grid;
  display: grid;
  grid-column: span 2;
  background-color: #f5e2d6;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2.4rem;
}

.item-2 h4 {
  font-size: .7rem;
  font-weight: 600;
  color: gray;
  padding-bottom: 2rem;
}

.item-2 h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
  color: gray;
}

.item-2 p {
  color: gray;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.item-2 button {
  border: 2px solid black;
  padding: .8rem 2rem;
  color: black;
  background-color: #F5E3D7;
  border-radius: 1.8rem;
  width: 20%;
  font-weight: 600;
}

.item-3 {
  grid-column: span 2;
  background-color: white;
  padding: 2rem;
}

.item-3 h3 {
  font-size: 1.9rem;
  padding: 1rem .6rem;
}

.item-3 h5 {
  color: red;
}

.item-3 p {
  color: gray;
  line-height: 1.4;
  padding: .5rem 0;
}

.item-5 {
  background-color: #ECAF4E;
  padding: 2rem;
}

.item-5 h3 {
  font-size: 1.8rem;
  color: white;
  padding: 1.4rem .7rem;
}

.item-5 p {
  color: white;
  padding-bottom: 1rem;
}

.item-5 small {
  font-weight: 600;
  padding-bottom: .3rem;
}

.item-5 span {
  color: white;
}

.item-6 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  background-color: #ECAF4E;
  padding: 2rem;
}

.item-6 a {
  color: white;
  padding: 1rem;
}

.item-6 h4 {
  color: white;
  font-size: 1.5rem;
}

.item-6 p {
  color: white;
  padding: 1rem;
  line-height: 1.6;
  text-align: center;
}

.color-1 {
  background-color: #FC683E;
}

.color-2 {
  background-color: #161616;
}

.color-3 {
  background-color: white;
}

.item-10 {
  grid-column: span 2;
  font-size: 0;
}

.item-11 {
  grid-column: span 2;
  background-color: #FC683E;
  padding: 2rem;
}

.item-11 h3 {
  font-size: 1.8rem;
  color: white;
  margin: 1.6rem 1rem;
}

.item-11 p {
  color: white;
  line-height: 1.4;
}

.item-11 a {
  margin-right: 1rem;
  color: white;
}

.item-11 div {
  padding: .4rem 0;
}

.color-4 {
  background-color: #ECAF4E;
}

.item-12 {
  grid-column: span 2;
}

.item-13 {
  grid-column: span 2;
  font-size: 0;
}

.item-15 {
  font-size: 0;
}

.item-14 {
  grid-column: span 2;
  background-color: #FC683E;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2rem;
}

.item-14 span {
  font-size: 1.9rem;
  color: white;
  display: block;
  margin: 1.1rem 0;
}

.item-14 p {
  color: white;
  padding-bottom: 1rem;
}

.item-14 small {
  color: white;
}

.item-14 .line {
  border-bottom: 2px solid gray;
  padding: .3rem 0;
  margin-bottom: 1rem;
}

.item-14 .line-2 {
  border-bottom: 2px solid gray;
  padding: 2.5rem 0;
}

.item-14 button {
  background-color: white;
  color: gray;
  border: none;
  padding: .6rem 4rem;
  border-radius: 1.4rem;
  margin-top: 1rem;
}

.white {
  background-color: black;
  height: .3rem;
  width: 90%;
}

.black {
  background-color: white;
  height: .3rem;
  width: 100%;
  margin: 10px 0;
}

.item-16 {
  background-color: #161616;
  padding: 2rem;
}

.item-16 h3 {
  color: white;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: .6rem;
}

.item-16 p {
  color: white;
  padding: 1.4rem 0;
}

.item-16 a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: .3rem;
}

.map {
  background-color: #FC683E;
  display: -ms-grid;
  display: grid;
  grid-column: 1/ -1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

footer {
  text-align: center;
  padding: 5.6rem 0;
}

footer span {
  color: red;
}

footer li {
  padding-left: 1rem;
  padding-top: 1rem;
  color: gray;
}
/*# sourceMappingURL=style.css.map */